<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="flex h-full justify-center items-center">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8 w-full sm:max-w-md">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                Create an account
            </h1>
            <form action="/sign-up" method="post" class="space-y-6">
                <div>
                    <label for="username" class="form-label">Username <span aria-label="required">*</span></label>
                    <div class="mt-2"><input type="text" id="username" name="username" class="<%=`form-input  ${locals?.errors?.username ? 'invalid' : ''}`%>" required value="<%= `${locals?.username ? username : ''}` %>"></div>
                    <% if (locals?.errors?.username) { %>
                        <p class="text-sm/6 text-red-600 flex items-start gap-x-1 mt-2">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-[1lh] flex-none">
                            <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-8-5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-4.5A.75.75 0 0 1 10 5Zm0 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
                          </svg>
                          <%= errors.username.msg %>
                        </p>
                    <% } %>
                </div>
                <div>
                    <label for="password" class="form-label">Password <span aria-label="required">*</span></label>
                    <div class="mt-2"><input type="password" id="password" name="password" autocomplete="new-password" class="<%=`form-input  ${locals?.errors?.password ? 'invalid' : ''}`%>" required value="<%= `${locals?.password ? password : ''}` %>"></div>
                    <% if (locals?.errors?.password) { %>
                        <p class="text-sm/6 text-red-600 flex items-start gap-x-1 mt-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-[1lh] flex-none">
                              <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-8-5a.75.75 0 0 1 .75.75v4.5a.75.75 0 0 1-1.5 0v-4.5A.75.75 0 0 1 10 5Zm0 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
                            </svg>
                            <%= errors.password.msg %>
                        </p>
                    <% } else { %>
                        <p class="text-sm text-gray-500 mt-2">Password must be 8 or more characters and contain 1 lower case letter, 1 upper case letter, 1 number and 1 symbol</p>
                    <% } %>
                </div>
                <button type="submit" class="primary-btn">Sign up</button>
                <p class="text-sm font-light text-gray-500">
                    Already have an account? <a href="/log-in" class="font-medium text-sky-600 hover:underline">Log in</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>